body {
  margin: 0;
}

.outer {
  width: 1000px;
  padding: 10px 15px 10px 10px;
  height: 1000px;
  background: purple;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.inner {
  width: 150px;
  height: 150px;
  background: url("./assets/images/flower.jpeg");
  position: relative;
}

.inner:hover .icon {
  display: flex;
}

.icon {
  font-size: 20px;
  color: black;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}

.navigation {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: blue;
  width: 100%;
  height: 60px;
  top: 0;
}

.navigation span {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: wheat;
}

.navigation span:hover {
  background: green;
  cursor: pointer;
}

.navigation .super-nav-item:hover .hidden {
  display: block;
}

.hidden {
  display: none;
  width: 150px;
  position: relative;
  bottom: -100%;
  height: 60px;
  left: 0px;
  background: aquamarine;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: blue;
    width: 100%;
    height: auto;
  }

  .navigation span {
    width: 100%;
    justify-content: flex-start;
  }
}
